[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	editor = subl -n -w

{{ if .work -}}
[includeIf "gitdir:{{ .work_dir }}"]
  path = .gitconfig-work
{{ end -}}  
[includeIf "gitdir:{{ .chezmoi.homeDir }}/dev/"]
  path = .gitconfig-personal
[includeIf "gitdir:{{ .chezmoi.sourceDir }}/"]
  path = .gitconfig-personal
