{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

brew tap johanhaleby/kubetail
brew tap cloudflare/cloudflare
brew tap homebrew/cask-fonts
brew tap buo/cask-upgrade

{{ $brews := list
    "age"
    "bat"
    "binwalk"
    "bitwarden-cli"
    "cowsay"
    "cloudflare/cloudflare/cloudflared"
    "curl"
    "docker-ls"
    "dockutil"
    "exa"
    "fd"
    "ffmpeg"
    "fish"
    "gh"
    "git"
    "glances"
    "gnu-units"
    "go"
    "golangci-lint"
    "hexyl"
    "hey"
    "htop"
    "httpie"
    "iperf3"
    "jq"
    "fzf"
    "k9s"
    "kubectx"
    "johanhaleby/kubetail/kubetail"
    "lazydocker"
    "lsd"
    "mitmproxy"
    "mtr"
    "ncdu"
    "neofetch"
    "nmap"
    "node"
    "pre-commit"
    "postgresql"
    "ripgrep"
    "ripgrep"
    "rustup-init"
    "sloccount"
    "sqlite"
    "tmux"
    "tree"
    "wget"
    "xz"
    "yarn"
    "yq" -}}
{{ $casks := list
    "font-hack-nerd-font"
    "sf-symbols"
    "disk-inventory-x"
    "java"
	"calibre"
	"cyberduck"
    "alfred"
    "chromedriver"
    "coconutbattery"
    "discord"
    "docker"
    "firefox"
    "gifox"
    "google-chrome"
    "google-earth-pro"
    "hammerspoon"
    "insomnia"
    "iterm2"
    "notion"
    "postman"
    "spotify"
    "sublime-merge"
    "sublime-text"
    "tableplus"
    "visual-studio-code"
    "wireshark"
    "vlc" -}}



{{ if .personal -}}
{{   $brews = concat $brews (list
    "youtube-dl") -}}
{{ $casks = concat $casks (list
    "adobe-creative-cloud"
    "autodesk-fusion360"
    "blender"
    "balenaetcher"
    "openscad"
    "prusaslicer") -}}
{{ end -}}

{{ if .work -}}
{{   $brews = concat $brews (list
    "vault"
    "goreleaser"
    "lastpass-cli") -}}
{{ $casks = concat $casks (list
    "meetingbar"
    "zoom") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}